In [4]:
import pandas as pd
df  = pd.read_csv("C:/Users/sbhat/Downloads/FloridaBlue_interview_dataset.csv")

In [5]:
df.head()

,first_name,last_name,age,gender,smoker,other_chronic_ind,disability_ind,hypertension_ind,filled_diabetes_rx_in_past_six_months,region_demographic,days_since_last_pcp_visit,diabetes
0,Aerial,Muller,37.3,Female,0,0.0,1.0,0.0,0,Rural,43.0,False
1,Katie,Cretella,41.6,Female,0,0.0,0.0,0.0,0,Urban,109.0,False
2,Hector,Trujillo,33.3,Male,0,0.0,0.0,0.0,0,NaN,311.0,False
3,Leean,Pabalan,51.5,Male,0,0.0,0.0,1.0,0,NaN,94.0,False
4,Kasea,Swenson,52.6,Female,0,0.0,0.0,1.0,0,Urban,134.0,False

In [6]:
df_inferenceing = df[:20].copy()

In [9]:
df_inferenceing.to_csv("features.csv")